params {
    outdir = "${projectDir}/../results"
}


process {
    withName: FASTQC {
        cpus = 2
        memory = '2 GB'
    }

    withName: TRIMMOMATIC {
        cpus = 4
        memory = '4 GB'
    }

    withName: STAR_INDEX {
        cpus = 4
        memory = '20 GB'
    }

    withName: STAR_ALIGN {
        cpus = 4
        memory = '18 GB'
        maxForks = 1
    }
}

profiles {

    docker {
        docker.enabled = true
    }
}
